{% extends 'base.html.twig' %}

{% block title %}Edit GroupeHotelier{% endblock %}

{% block body %}
    <h1>Edit GroupeHotelier</h1>

    {{ include('groupe_hotelier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_groupe_hotelier_index') }}" style="margin-top: 80px!important; margin-left: 90px" >back to list</a><br>

     <br>
{% endblock %}
